<h1>Recipe details: <%= @recipe.name %></h1>

<% if(@recipe.rating != nil) %>
<h3>Rating: <%=@recipe.rating %></h3>
<% end %>

<ul>
  <% @ingredients.each() do |ingredient| %>
  <li><%= ingredient.name() %></li>
  <% end %>
</ul>

<form action="/recipe/<%=@recipe.id%>" method="post">
  <div class="form-group">
    <label for="name">Add a ingredient:</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  <button type="submit" id="add_ingredient" class="btn btn-primary">Add</button>
</form>

<br>

<% if(@recipe.instructions != nil) %>
<h2>Instructions:</h2>
  <p>
    <%= @recipe.instructions %>
  </p>
<% end %>

<form action="/recipe/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="name">Update instructions:</label>
    <input type="text" name="instructions" id="instructions" class="form-control">
  </div>
  <button id="update_instructions" class="btn btn-primary">Update Instructions</button>
</form>

<br>

<form action="/recipe/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button id="delete" class="btn btn-danger">Delete Recipe</button>
</form>

<br>

<h4>Please select a rating:</h4>
<form action="/recipe/<%=@recipe.id%>/rating" method="post">
  <input type="hidden" name="_method" value="patch">
    <% 5.times() do |i| %>
    <input type="radio" name="rating" id="<%=i+1%>" value="<%=i+1%>" checked><%=i+1%>
    <br>
    <% end %>
    <br>
    <button id="add_rating" class="btn btn-warning">Add Rating</button>
</form>

<br>

<a href="/recipes">Back</a>

<br>

<%= @message %>
