<h1>Recipe details: <%= @recipe.name %></h1>

<ul>
  <% @ingredients.each() do |ingredient| %>
  <li><%= ingredient.name() %></li>
  <% end %>
</ul>

<form action="/recipe/<%=@recipe.id%>" method="post">
  <div class="form-group">
    <label for="name">Add a ingredient:</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  <button type="submit" id="add_ingredient" class="btn btn-primary">Add</button>
</form>

<% if(@recipe.instructions != nil) %>
<h2>Instructions:</h2>
  <p>
    <%= @recipe.instructions %>
  </p>
<% end %>

<form action="/recipe/<%=@recipe.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="name">Update instructions:</label>
    <input type="text" name="instructions" id="instructions" class="form-control">
  </div>
  <button type="submit" id="update_instructions" class="btn btn-primary">Update Instructions</button>
</form>


<br>

<%= @message %>
